  
/* #filesys {
    height: 90vh;
} */

.leftCol, .rightCol{
    height: 100vh;
    float: left;
    width: 20%;
}


#player{
    /* margin: 0 auto; */
    float:left;
    overflow:hidden;
    width: 58%;
}

.scrollBox{
    overflow: auto;
    height: 90vh;
}

/* 
#events{
    height: 90vh;
} */

#play_buttons{
    display: flex;
    justify-content: center;
    width:800px;
}


#screen {
    border: solid;
    margin: 0 auto;
    width:800px;
}

#frames{
    display: flex;
    overflow: auto;
}

#frames img{
    width: auto;
    height: 150px;
    padding: 10px;
    border: solid;
}









ul, #filesys {
    list-style-type: none;
}

.caret {
    cursor: pointer;
    user-select: none;
}

.caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

.caret-down::before {
    transform: rotate(90deg);  
}

.nested {
    display: none;
}

.active {
    display: block;
    cursor: pointer;
}